* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 0 200px;
}
li {
  list-style-type: none;
}
.top {
  height: 40px;
  background-color: #22252e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.learn {
  border: none;
  background-color: #22252e;
  color: #ffffff;
  cursor: pointer;
}
.warning {
  display: flex;
  flex-direction: row;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  position: relative;
  justify-content: baseline;
}
.warning_first::before {
  content: url(./img/icon/red/warning.png);
  width: 10px;
  height: 10px;
  position: absolute;
  top: 9px;
  left: -20px;
}
.close {
  position: absolute;
  top: 8px;
  right: 20px;
}
.warning li {
  margin: 12px 32px 12px 0;
}
.warning li:nth-child(2),
.warning li:nth-child(3) {
  color: #889099;
}
.warning li:nth-child(1) {
  color: #ff8d00;
}
.warning li:nth-child(4) {
  color: #ffffff;
}
button {
  cursor: pointer;
}
header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
.menu_main {
  display: flex;
  flex-direction: row;
  padding: 50px 0;
  position: relative;
}
.icon {
  border: none;
  background: white;
  cursor: pointer;
}

.menu-icons::after {
  content: '\25be';
  width: 10px;
  height: 5px;
  margin-left: 10px;
  cursor: pointer;
}
.menu_main li {
  margin-right: 30px;
}
.menu_main li:last-child {
  border-bottom: 3px solid #4cb649;
}
.btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.8px;
  border-radius: 30px;
  height: 40px;
}

.login {
  width: 90px;
  border: 1px solid #4cb649;
  background-color: #ffffff;
  color: #4cb649;
}
.getstart {
  width: 160px;
  background: linear-gradient(0deg, #4cb649 0%, #5ddf5a 100%);
  border: none;
  color: #ffffff;
}
.logo {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.main {
  display: flex;
  flex-direction: row;
  border: 1px solid #d7d8d9;
  border-radius: 6px;
  box-shadow: 3px 3px 3px #d7d8d9;
}
.main_text {
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 84px;
}
.main_content {
  margin: 60px;
}
.zero {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #889099;
  margin: -23px 0 0 25px;
}
.main_time {
  color: #889099;
}
.main_tags {
  text-transform: uppercase;
  color: #4cb649;
}
.main_line {
  margin: 12px 0;
}
.main_img {
  width: 100%;
}
.tags {
  display: flex;
  flex-direction: row;
  margin: 30px 0;
  background: #f7f7f7;
  border-radius: 4px;
  /* padding: 33px 21px; */
}
.tags li {
  margin-right: 30px;
  color: #4cb649;
}
.tags_left {
  display: flex;
  flex-direction: row;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.8px;
}
.tags_right {
  display: flex;
  flex-direction: row;
  margin-left: 20%;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
}
.tags .tags_left li:first-child {
  margin-left: 20px;
  margin-right: 43px;
  color: #22252e;
}
.tags .tags_right li {
  color: #323642;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
}
.pointer {
  color: #ffffff;
}
.main_section {
  display: flex;
  flex-direction: row;
}
.posts {
  border-right: 2px solid #f7f7f7;
  width: 100%;
}
main {
  width: 100%;
}
aside {
  width: 50%;
}

.search {
  position: relative;
  margin-top: 20px;
}
.search input {
  padding: 20px;
  width: 340px;
  border: 1px solid #d7d8d9;
  border-radius: 4px;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #22252e;
}
.search img {
  width: 18px;
  height: 18px;
  display: block;
  position: absolute;
  top: 25px;
  left: 25px;
}
.post_title {
  font-weight: 300;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 40px;
  margin-top: 30px;
}

.post {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-right: 20px;
  border-bottom: 1px solid #ebeced;
}
.post_content {
  margin: 0 0 0 40px;
}
.post_text {
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 7px;
}
.post_img {
  margin-bottom: 60px;
}
.post_hr {
  margin-right: 40px;
  background: #ebeced;
}
.btn-post {
  width: 260px;
  border: 1px solid #4cb649;
  background-color: #ffffff;
  color: #4cb649;
  margin-top: 130px;
  margin-bottom: -60px;
}
.old {
  display: flex;
  align-items: center;
  justify-content: center;
}
aside {
  margin-left: 50px;
}
aside li:before {
  color: #4cb649;
}
.dot-style {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #323642;
  margin-bottom: 16px;
}
.dot-style:before {
  content: '•';
  padding-right: 4px;
  vertical-align: middle;
  font-size: 1.8em;
}
.pricing {
  padding: 0 200px;
  background: linear-gradient(135deg, #3d4251 0%, #272b35 100%);
  margin-top: 130px;
}
.pricing_cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.pricing_title {
  font-weight: 300;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #ffffff;
  padding: 110px 0 30px 0px;
}
.pricing_card {
  width: 380px;
  height: 340px;
  background: #ffffff;
  border: 1px solid #ebeced;
  border-radius: 6px;
  margin-top: 20px;
}
.pricing_card_big {
  width: 380px;
  height: 380px;
  background: #ffffff;
  border: 4px solid #4cb649;
  border-radius: 4px;
}
.pricing_card img,
.pricing_card_big img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  margin-bottom: 16px;
  width: 7%;
}
.pricing_name_card {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.8px;
  color: #323642;
  margin-top: 48px;
}
.pricing_card_dollar {
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: #22252e;
  margin-top: -20px;
}
.pricing_card_cost {
  font-weight: 300;
  font-size: 56px;
  line-height: 66px;
  letter-spacing: -1.5px;
  color: #22252e;
}
.pricing_card_mon {
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: #22252e;
  margin-top: 40px;
}
.pricing_card_vpn {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #323642;
}
.btn_sign_up {
  width: 205px;
  border: 1px solid #4cb649;
  text-align: center;
  color: #4cb649;
  text-transform: uppercase;
  margin-top: 10px;
  background: #f7f7f7;
  margin-left: 20px;
}
.big {
  color: #ffffff;
  background: #4cb649;
}
.center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.pricing_hr {
  margin: 18px 90px 27px 90px;
}
.pricing_card_save {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #323642;
  text-align: center;
}
.red {
  color: #f24458;
  text-decoration: line-through;
}
.red p {
  margin: 0 10px;
}
.ways_title {
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}
.ways,
.how_to_pay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.ways img,
.ways p {
  margin-right: 30px;
  margin-top: 30px;
}
.how_to_pay a {
  margin: 40px 44px 60px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #4cb649;
  cursor: pointer;
}
.pricing_cards div {
  margin-right: 30px;
}
.ann {
  margin-bottom: 30px;
}
.ann_title {
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  color: #22252e;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 42px 0 30px 0;
}
.ann_title_text {
  margin-left: 30px;
}
.private {
  margin: 30px 0 50px 0;
}
.aside_hr {
  margin-right: 30px;
}
.footer_logo {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 33px;
  color: #000000;
  margin: 84px 0 58px 200px;
}
.footer_title {
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323642;
  margin-bottom: 20px;
}
.footer_item {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  color: #889099;
  margin-bottom: 12px;
}
.footer_six button {
  margin-right: 20px;
}
.footer_six button:last-child {
  margin-right: 0px;
}
footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.footer_first {
  grid-area: 1 / 1 / 4 / 2;
}
.footer_second {
  grid-area: 1 / 2 / 2 / 3;
}
.footer_third {
  grid-area: 2 / 2 / 4 / 3;
}
.footer_four {
  grid-area: 1 / 3 / 3 / 4;
}
.footer_five {
  grid-area: 1 / 4 / 3 / 5;
}
.footer_six {
  grid-area: 3 / 4 / 4 / 5;
}

.hamburger,
.menu {
  background: #ffffff;
}

.menu-item {
  margin: 2rem 4rem;
  font-size: 1.8rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger {
  position: absolute;
  top: 6em;
  left: 6rem;
  border: none;
  cursor: pointer;
  display: none;
  width: 24px;
  height: 24px;
}

.menu-icon,
.close-icon {
  color: #252525;
}

.close-icon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-decoration: none;
  list-style: none;
  color: white;
  height: 500px;
}

.menu-container {
  padding-top: 6em;
}

.showMenu {
  transform: translateY(0);
}
.tag_cloud {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul.cloud {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 2.75rem;
}

ul.cloud a {
  --size: 4;
  color: #889099;
  font-size: calc(var(--size) * 0.25rem + 0.5rem);
  display: block;
  padding: 0.125rem 0.25rem;
  position: relative;
  text-decoration: none;
}

ul.cloud a[data-weight='1'] {
  --size: 1;
}
ul.cloud a[data-weight='2'] {
  --size: 2;
}
ul.cloud a[data-weight='3'] {
  --size: 3;
}
ul.cloud a[data-weight='4'] {
  --size: 4;
}
ul.cloud a[data-weight='5'] {
  --size: 6;
}
ul.cloud a[data-weight='6'] {
  --size: 8;
}
ul.cloud a[data-weight='7'] {
  --size: 10;
}
ul.cloud a[data-weight='8'] {
  --size: 13;
}
ul.cloud a[data-weight='9'] {
  --size: 16;
}

ul[data-show-value] a::after {
  content: ' (' attr(data-weight) ')';
  font-size: 1rem;
}

ul.cloud a:focus {
  outline: 1px dashed;
}

ul.cloud a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  transform: translate(-50%, 0);
  opacity: 0.15;
  transition: width 0.25s;
}

ul.cloud a:focus::before,
ul.cloud a:hover::before {
  width: 100%;
}

@media (prefers-reduced-motion) {
  ul.cloud * {
    transition: none !important;
  }
}
@media (min-width: 320px) and (max-width: 380px) {
  .post_title {
    margin-top: 150px;
  }
  .search input {
    padding: 5px;
    width: 70%;
    position: absolute;
    top: -3600px;
    left: 70px;
  }
  .search img {
    position: absolute;
    top: -3590px;
    left: 80px;
  }
}
@media (min-width: 320px) and (max-width: 575px) {
  .container {
    margin: 0 30px;
  }
  .hamburger {
    display: block;
    top: 8em;
    left: 2rem;
  }
  .menu_main {
    display: none;
  }
  .how_to_pay a {
    margin-bottom: 40px;
  }
  .how_to_pay a:last-child {
    margin-top: 0px;
  }
  .login {
    display: none;
  }
  .top {
    height: 68px;
    padding: 0;
  }
  .close {
    top: 22px;
    right: 5px;
  }
  .warning li {
    margin: 10px 0px 5px 15px;
  }
  .warning_first::before {
    left: -5px;
  }
  .warning {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2, 20px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .warning_first {
    grid-area: 1 / 1 / 2 / 2;
  }
  .warning_second {
    grid-area: 2 / 1 / 3 / 2;
  }
  .warning_third {
    grid-area: 2 / 2 / 3 / 3;
  }
  .warning_four {
    grid-area: 1 / 2 / 2 / 3;
  }
  .post_content {
    margin: 0;
  }
  .main_content {
    margin: 30px;
  }
  .main_text {
    font-weight: 300;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 12px;
  }
  .logo {
    margin-left: 50px;
  }
  .getstart {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .tags {
    display: none;
  }
  .posts {
    border-right: none;
  }
  .post {
    display: flex;
    flex-direction: column;
  }
  .main,
  .main_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  aside {
    margin-left: 50px;
    margin-right: 50px;
    width: 100%;
  }
  .pricing_cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
  }
  .pricing_cards div {
    margin-bottom: 20px;
  }
  .pricing_card:last-child {
    height: 380px;
  }

  .pricing {
    padding: 0 30px;
  }
  .ways img,
  .ways p {
    margin-right: 10px;
  }
  .pricing_card,
  .pricing_card_big {
    width: 100%;
  }
  .ways_title {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .footer_logo {
    margin-left: 30px;
  }
  footer {
    display: grid;
    grid-template-columns: repeat(2, 175px);
    grid-template-rows: repeat(4, 200px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .footer_first {
    grid-area: 1 / 1 / 3 / 2;
  }
  .footer_second {
    grid-area: 1 / 2 / 2 / 3;
  }
  .footer_third {
    grid-area: 2 / 2 / 3 / 3;
  }
  .footer_four {
    grid-area: 3 / 1 / 4 / 2;
  }
  .footer_five {
    grid-area: 4 / 1 / 5 / 3;
  }
  .footer_six {
    grid-area: 3 / 2 / 4 / 3;
  }
}
.footer_title {
  margin-bottom: 10px;
}
.footer_six button:last-child {
  margin-right: 0px;
}
@media (min-width: 576px) and (max-width: 768px) {
  .container {
    margin: 0 50px;
  }
  .hamburger {
    display: block;
  }
  .menu_main {
    display: none;
  }
  .login {
    display: none;
  }
  .close {
    top: 22px;
    right: 5px;
  }
  .logo {
    margin-left: 100px;
  }
  .getstart {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .post_content {
    margin: 0;
  }
  .main_content {
    margin: 30px;
  }
  .main_text {
    margin-bottom: 12px;
  }
  .tags {
    display: none;
  }
  .posts {
    border-right: none;
  }
  .post {
    display: flex;
    flex-direction: column;
  }
  .main,
  .main_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pricing_cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .search input {
    width: 100%;
  }
  .pricing {
    padding: 0 30px;
  }
  .pricing_cards div {
    margin-bottom: 20px;
  }
  .ways img,
  .ways p {
    margin-right: 10px;
  }
  .ways_title {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .footer_logo {
    margin-left: 50px;
  }
  .top {
    height: 68px;
  }
  .warning {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 20px);
    grid-column-gap: 0px;
    grid-row-gap: 5px;
  }
  .warning_first {
    grid-area: 1 / 1 / 2 / 2;
  }
  .warning_second {
    grid-area: 2 / 1 / 3 / 2;
  }
  .warning_third {
    grid-area: 2 / 2 / 3 / 3;
  }
  .warning_four {
    grid-area: 1 / 2 / 2 / 3;
  }

  footer {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(4, 200px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .footer_first {
    grid-area: 1 / 1 / 3 / 2;
  }
  .footer_second {
    grid-area: 1 / 2 / 2 / 3;
  }
  .footer_third {
    grid-area: 2 / 2 / 3 / 3;
  }
  .footer_four {
    grid-area: 3 / 1 / 4 / 2;
  }
  .footer_five {
    grid-area: 4 / 1 / 5 / 3;
  }
  .footer_six {
    grid-area: 3 / 2 / 4 / 3;
  }
}
.footer_title {
  margin-bottom: 10px;
}
.footer_six button {
  margin-right: 30px;
}
@media (min-width: 769px) and (max-width: 1075px) {
  .container {
    margin: 0 150px;
  }
  .login {
    display: none;
  }
  .menu_main li {
    margin-right: 10px;
  }
  .hamburger {
    display: block;
    left: 9rem;
  }
  .menu_main {
    display: none;
  }
  .login {
    display: none;
  }
  .post_content {
    margin: 0;
  }
  .logo {
    margin-left: 50px;
  }
  .getstart {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .search input {
    width: 100%;
  }
  .menu-icons::after {
    margin-left: 5px;
  }
  .tags {
    display: none;
  }
  .posts {
    border-right: none;
  }
  .tag_cloud_name {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .main,
  .main_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
  }

  .private {
    margin: 20px 100px;
  }
  .ann_title_img {
    margin: 20px 100px;
  }
  .post {
    display: flex;
    flex-direction: column;
  }
  aside {
    width: 100%;
  }
  .pricing_cards div {
    margin-right: 10px;
  }
  .footer_logo {
    margin-left: 100px;
  }
}
.footer_title {
  margin-bottom: 10px;
}
@media (min-width: 1076px) and (max-width: 1420px) {
  .container {
    margin: 0 100px;
  }
  .main_img {
    width: 50%;
  }
  .search input {
    width: 100%;
  }
  .tags_right {
    margin-left: 5%;
  }
}
@media (min-width: 1421px) and (max-width: 1550px) {
  .tags_right {
    margin-left: 7%;
  }
}
@media (min-width: 1551px) and (max-width: 1980px) {
  .tags_right {
    margin-left: 35%;
  }
}
