* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    margin: 0 200px;
    
}
li{
    list-style-type: none;
}
.top{
    height:40px;
    background-color: #22252E;
    display: flex;
    justify-content: center;
}
.warning{
    display: flex;
    flex-direction: row;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    position: relative;
}
.close{
    position: absolute;
    top: 5px;
    right: 20px;
}
.warning li{
    margin: 12px 32px 12px 0;
    
}
.warning li:nth-child(3),
.warning li:nth-child(4){
    color: #889099;
}
.warning li:nth-child(2){
    color:  #FF8D00;
}
.warning li:nth-child(5){
    color:#FFFFFF;
}


.warning li:nth-child(1){
    margin-right:1px;
}
header{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}
.menu_main{
    display: flex;
    flex-direction: row;
    padding:50px 0;
    position: relative;
}
.menu-icons::after{
    content: "\25be";
    width:10px;
    height:5px;
    margin-left: 10px;
}
.menu_main li{
    margin-right: 30px;
}
.btn{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.8px;
    border-radius: 30px;
    height: 40px;
}

.login{
    width:90px;
    border: 1px solid #4CB649;
    background-color: #FFFFFF;
    color: #4CB649;
    
}
.getstart{
    width: 160px;
    background: linear-gradient(0deg, #4CB649 0%, #5DDF5A 100%);
    border: none;
    color:#FFFFFF;
    
}
.logo{
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
.main{
    display: flex;
    flex-direction: row;
    border: 1px solid #D7D8D9;
    border-radius: 6px;
    box-shadow: 3px 3px 3px #D7D8D9;
   
}
.main_text{
    font-weight: 300;
    font-size: 24px;
    line-height: 34px;
   margin-bottom: 84px;
}
.main_content{
    margin: 60px;
    
}
.zero{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #889099;
    margin: -23px  0 0 25px;
}
.main_time{
    color: #889099;
}
.main_tags{
    text-transform: uppercase;
    color: #4CB649;
}
.main_line{
    margin: 12px 0;
}
.main_img{
    width: 100%;
}
.tags{
    display: flex;
    flex-direction: row;
    margin: 30px 0;
    background: #F7F7F7;
    border-radius: 4px;
    padding: 33px 21px;
}
.tags li{
    margin-right: 30px;
    color: #4CB649;
}
.tags li:first-child{
    margin-left: 20px;
    margin-right: 43px;
    color:#22252E
}
.tags li:nth-child(8){
    margin-right: 250px;
}
.tags li:nth-child(9),
.tags li:nth-child(10){
    color: #22252E
}
.main_section{
    display: flex;
    flex-direction: row;
}
.vl {
    border-left: 2px solid #F7F7F7;
    height: 1830px;
    top: 187%;
    position: absolute;
    left: 50%;
    margin-left: 173px;
}
.search{
    position:relative;
    margin-top: 20px;
}
.search input{
    padding:20px;
    width:340px;
}
.search img{
    width:18px;
    height:18px;
    display:block; position:absolute; top:20px; left:20px;
}
.post_title{
    font-weight: 300;
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 40px;
}
.post{
    display: flex;
    flex-direction: row;
    margin-top:30px;
    margin-right: 20px;
}
.post_content{
    margin: 0 0 0 40px ;
}
.post_text{
    font-weight: 300;
    font-size: 24px;
    line-height: 34px;
   margin-bottom: 7px;
}
.post_img{
    margin-bottom:60px;
}
.post_hr{
    margin-right: 40px;
}
.btn-post{
    width:260px;
    border: 1px solid #4CB649;
    background-color: #FFFFFF;
    color: #4CB649;
    margin-top: 40px;
    
}
.old{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 118px;
}
aside{
    margin-left: 200px;
}
aside li:before{
    color:#4CB649
}
.dot-style{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #323642;
}
.dot-style:before {
    content: "•";
    padding-right:4px;
    vertical-align:middle;
    font-size:1.8em;
}
.pricing{
    padding: 0 200px;
    background: linear-gradient(135deg, #3D4251 0%, #272B35 100%);
    
}
.pricing_cards{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
.pricing_title{
    font-weight: 300;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #FFFFFF;
    padding:100px 0 60px 0;
}
.pricing_card{
    width:380px;
    height:340px;
    background: #FFFFFF;
    border: 1px solid #EBECED;
    border-radius: 6px;
    margin-top:20px;
}
.pricing_card_big {
    width:380px;
    height:380px;
    background: #FFFFFF;
    border: 4px solid #4CB649;
    border-radius: 4px;
}
.pricing_card img,
.pricing_card_big img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:12px;
  margin-bottom:16px;
  width: 7%;
}
.pricing_name_card{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.8px;
    color: #323642;
    margin-top: 48px;
}
.pricing_card_dollar {
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color: #22252E;
}
.pricing_card_cost{
    font-weight: 300;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -1.5px;
    color: #22252E;
}
.pricing_card_mon{
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color: #22252E;
}
.pricing_card_vpn{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #323642;
}
.btn_sign_up{
    width:205px;
    border: 1px solid #4CB649;
    text-align: center;
    color: #4CB649;
    text-transform: uppercase;
    margin-top:10px;
    background: #F7F7F7;
    margin-left: 20px;
    
}
.big{
    color: #FFFFFF;
    background:#4CB649;
}
.center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.pricing_hr{
   margin: 18px 90px 27px 90px;
}
.pricing_card_save{
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #323642;
    text-align: center;
}
.red{
    color: #F24458;
    text-decoration: line-through;
}
.ways_title{
    font-weight: 300;
font-size: 18px;
line-height: 28px;
color: #FFFFFF;
}
.ways,
.how_to_pay{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
}
.ways img,
.ways p{
    margin-right: 30px;
    margin-top: 30px;
}
.how_to_pay p{
    margin: 40px 44px 60px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #4CB649;
}
.pricing_cards div{
    margin-right: 30px;
}
.ann{
    margin-bottom: 30px;
}
.ann_title{
    font-weight: 300;
    font-size: 24px;
    line-height: 34px;
    color: #22252E;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 42px 0 30px 0;
}
.ann_title_text{
    margin-left: 30px;
}
.private{
    margin: 30px 0 50px 0;
}
.aside_hr{
    margin-right: 30px;
}
.footer_logo{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 33px;
    color: #000000;
    margin: 84px 0 58px 200px;
}
.footer_title{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #323642;
    margin-bottom: 20px;
}
.footer_item{
    font-weight: 400;
font-size: 14px;
line-height: 22px;
color: #889099;
margin-bottom: 12px;
}
.footer_six img{
    margin-right: 20px;
}
.footer_six img:last-child{
    margin-right:0px
}
footer{
    display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}
.footer_first{grid-area: 1 / 1 / 4 / 2; }
.footer_second{grid-area: 1 / 2 / 2 / 3}
.footer_third{grid-area: 2 / 2 / 4 / 3;}
.footer_four{grid-area: 1 / 3 / 3 / 4;}
.footer_five{grid-area: 1 / 4 / 3 / 5;}
.footer_six{grid-area: 3 / 4 / 4 / 5; }

  
  .hamburger,
  .menu {
    background: #FFFFFF; }
  
  .menu-item {
    margin: 2rem 4rem;
    font-size: 1.8rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center; }
  
  .hamburger {
    position: absolute; 
    top: 6em;
    left: 6rem;
    border: none;
    cursor: pointer;
    display: none; 
    width: 24px;
    height: 24px;
}
  
  .menu-icon,
  .close-icon {
    color: #252525;
     }
  
  .close-icon {
    display: none; }
  
  .menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-decoration: none;
    list-style: none;
    color: white;
    height: 500px; }
  
  .menu-container {
    padding-top: 6em; }
  
  .showMenu {
    transform: translateY(0); }
  
@media (min-width: 320px) and (max-width: 575px){
        .container{
            margin: 0 10px;
        }
        .hamburger{
            display:block;
            left: 1rem;
        }
        .menu_main {
            display: none; }
        .login{
            display: none; 
        }
        .logo{
            margin-left: 50px;
        }
        .getstart{
            margin-top: 30px;
            margin-bottom:30px;
        }
        .tags {
            display: none;
        }
        .vl {
            display: none;
        }
        .post{
            display: flex;
            flex-direction: column;
        }
        .main,
        .main_section{
            display:flex;
            flex-direction: column;
            justify-content:center;
            align-items:center;
        }
        aside{
            margin-left: 50px;
            margin-right:50px
        }
        .search input{
            width: 100%;
        }
        .pricing_cards{
            display:flex;
            flex-direction: column;
            justify-content:center;
            align-items: center;
        }
        .pricing_cards div{
            margin-bottom: 20px;
        }
        .pricing{
            padding: 0 50px;
        }
        .ways img,
        .ways p{
        margin-right: 20px;
    }
    .pricing_card,
    .pricing_card_big{
        width: 100%;
    }
    .ways_title{
        width: 100%;
        display: flex;
    justify-content: center}
        .footer_logo{
            margin-left: 100px;
        }
        footer{
            display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 2fr);
        grid-column-gap: 0px;
        grid-row-gap:0px;
        }
        .footer_first{ grid-area: 1 / 1 / 3 / 2; }
        .footer_second{grid-area: 1 / 2 / 2 / 3;}
        .footer_third{grid-area: 2 / 2 / 3 / 3;}
        .footer_four{grid-area: 3 / 1 / 4 / 2;}
        .footer_five{grid-area: 4 / 1 / 5 / 3;}
        .footer_six{ grid-area: 3 / 2 / 4 / 3; }
        
        }
        .footer_title{
            margin-bottom: 10px;
       
    }
@media (min-width: 576px) and (max-width: 768px){
    .container{
        margin: 0 100px;
    }
    .hamburger{
        display:block;
    }
    .menu_main {
        display: none; }
    .login{
        display: none; 
    }
    .logo{
        margin-left: 50px;
    }
    .getstart{
        margin-top: 30px;
        margin-bottom:30px;
    }
    .tags {
        display: none;
    }
    .vl {
        display: none;
    }
    .post{
        display: flex;
        flex-direction: column;
    }
    .main,
    .main_section{
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
    }
    aside{
        margin-left: 70px;
        margin-right:70px
    }
    .pricing_cards{
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    .pricing_cards div{
        margin-bottom: 20px;
    }
    .ways img,
    .ways p{
    margin-right: 20px;
}
.ways_title{
    width: 100%;
    display: flex;
justify-content: center;
}
.footer_logo{
    margin-left: 100px;
}
.search input{
    width: 100%;
}
footer{
    display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(4, 2fr);
grid-column-gap: 0px;
grid-row-gap:0px;
}
.footer_first{ grid-area: 1 / 1 / 3 / 2; }
.footer_second{grid-area: 1 / 2 / 2 / 3;}
.footer_third{grid-area: 2 / 2 / 3 / 3;}
.footer_four{grid-area: 3 / 1 / 4 / 2;}
.footer_five{grid-area: 4 / 1 / 5 / 3;}
.footer_six{ grid-area: 3 / 2 / 4 / 3; }

}
.footer_title{
    margin-bottom: 10px;
}
@media (min-width: 769px) and (max-width: 1075px){
    .container{
        margin: 0 150px;
    }
    .login{
        display: none; 
    }
    .menu_main li{
        margin-right: 10px;
    }
    .hamburger{
        display:block;
        left: 9rem;
    }
    .menu_main {
        display: none; }
    .login{
        display: none; 
    }
    .logo{
        margin-left: 50px;
    }
    .getstart{
        margin-top: 30px;
        margin-bottom:30px;
    }
    .menu-icons::after{
        margin-left: 5px;
    }
    .tags,
    .vl {
    display: none;
}
.main,
.main_section{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin-left: 150px;
    margin-right:150px
}
aside{
    margin-left: 0;
}
.private{
    margin: 20px 100px;
}
.ann_title_img{
    margin: 20px 100px;
}
.post{
    display: flex;
    flex-direction: column;
}
.search input{
    width: 100%;
}
.pricing_cards div{
    margin-right: 10px;
}
.footer_logo{
    margin-left: 100px;
}
footer{
    display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(4, 2fr);
grid-column-gap: 0px;
grid-row-gap:0px;
}
.footer_first{ grid-area: 1 / 1 / 3 / 2; }
.footer_second{grid-area: 1 / 2 / 2 / 3;}
.footer_third{grid-area: 2 / 2 / 3 / 3;}
.footer_four{grid-area: 3 / 1 / 4 / 2;}
.footer_five{grid-area: 4 / 1 / 5 / 3;}
.footer_six{ grid-area: 3 / 2 / 4 / 3; }

}
.footer_title{
    margin-bottom: 10px;

}
@media (min-width: 1076px) and (max-width: 1200px){
    .container{
        margin: 0 150px;
    }
    .login{
        display: none; 
    }
    .menu_main li{
        margin-right: 10px;
    }
    .menu_main,
    .logo{
        font-size: 14px;
        line-height: 20px;

    }
    .menu-icons::after{
        margin-left: 5px;
    }
    .tags,
    .vl {
    display: none;
}
.main,
.main_section{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin-left: 150px;
    margin-right:150px
}
aside{
    margin-left: 0;
}
.private{
    margin: 20px 100px;
}
.ann_title_img{
    margin: 20px 100px;
}
.post{
    display: flex;
    flex-direction: column;
}
.search input{
    width: 100%;
}
}
@media (min-width: 1201px) and (max-width: 1420px){
    .container{
        margin: 0 100px;
    }
    .main_img{
        width:50%;
        
    }
    .tags li:nth-child(8){
        margin-right: 30px;
    }
    .tags{
        font-size: 12px;
        line-height: 15px;
    }
    .vl{
        top: 157%;
    }
}
@media (min-width: 1421px) and (max-width: 1550px){
    .tags li:nth-child(8){
        margin-right: 90px;
    }
    .vl{
        top: 157%;
    }
}
@media (min-width: 1551px) and (max-width: 1980px){
    .vl{
        top: 158%;
    }
    .tags li:nth-child(8){
        margin-right: 450px;
    }
}

